パラメータセットごとにk-meansによる分類を行って、分類結果に違いがあるかなどをみる。

In [1]:
import pandas as pd
import numpy as np
import generatedata as gd
import prediction as pre

# param set
param1 = (1.7, -0.5, -6)
param2 = (1.7, -4.5, -6)
param3 = (1.7, -0.5, 6)
param4 = (1.7, -4.5, 6)
params = [param1, param2, param3, param4]

# generate sample data
for i in params:
    gd.generate(*i)
    
# read data
df1 = pd.read_csv("1.7--0.5--6.csv", index_col = 0)
df2 = pd.read_csv("1.7--4.5--6.csv", index_col = 0)
df3 = pd.read_csv("1.7--0.5-6.csv", index_col = 0)
df4 = pd.read_csv("1.7--4.5-6.csv", index_col = 0)
dfs = [df1, df2, df3, df4]

# clustering
dfs = [pre.cluster(j) for j in dfs]

In [2]:
# show crosstabs
# param1
pd.crosstab(dfs[0]["equitype"], dfs[0]["k-means-pred"])

k-means-pred     0     1     2
equitype
0.0           1111   783   490
1.0            197   275  1185
2.0             29  1443   124

In [3]:
pd.crosstab(dfs[0]["single"], dfs[0]["k-means2-pred"])

k-means2-pred     0     1
single
0              1451  1802
1              1549   835

In [4]:
pd.crosstab(dfs[0]["k-means-pred"], dfs[0]["k-means2-pred"])

k-means2-pred     0     1
k-means-pred
0              1326    11
1               107  2394
2              1567   232

In [5]:
# param2
# そもそもほとんど単一の均衡しかないやつは無駄に分類してしまう
pd.crosstab(dfs[1]["equitype"], dfs[1]["k-means-pred"])

k-means-pred     0     1     2
equitype
0.0           1633  2167  3257
2.0              1     0     0

In [6]:
pd.crosstab(dfs[1]["single"], dfs[1]["k-means2-pred"])

k-means2-pred     0     1
single
0                 1     0
1              4518  2539

In [7]:
pd.crosstab(dfs[1]["k-means-pred"], dfs[1]["k-means2-pred"])

k-means2-pred     0     1
k-means-pred
0              1427   207
1                 7  2160
2              3085   172

In [8]:
# param3
# そもそもほとんど単一の均衡しかないやつは無駄に分類してしまう
pd.crosstab(dfs[2]["equitype"], dfs[2]["k-means-pred"])

k-means-pred     0     1     2
equitype
0.0           1961  3303  1418

In [10]:
pd.crosstab(dfs[2]["single"], dfs[2]["k-means2-pred"])

k-means2-pred     0     1
single
1              2373  4309

In [11]:
pd.crosstab(dfs[2]["k-means-pred"], dfs[2]["k-means2-pred"])

k-means2-pred     0     1
k-means-pred
0              1954     7
1                 0  3303
2               419   999

In [12]:
# param4
# param1のstrategic complementパターン
# param1と同じように均衡はいろいろな種類が存在するのでうまく分類するかと思いきや全然良くない。なぜ？
pd.crosstab(dfs[3]["equitype"], dfs[3]["k-means-pred"])

k-means-pred     0     1     2
equitype
0.0           3236  2156  1025
1.0            136     3    24
2.0             13     1   134

In [14]:
pd.crosstab(dfs[3]["single"], dfs[3]["k-means2-pred"])

k-means2-pred     0     1
single
0               174   137
1              1093  5324

In [15]:
pd.crosstab(dfs[3]["k-means-pred"], dfs[3]["k-means2-pred"])

k-means2-pred     0     1
k-means-pred
0                49  3336
1                38  2122
2              1180     3